<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
   <%- include('partials/nav') %>

   <h2>Edit Task</h2>

   <form action="/edit/<%= task.id %>" method="POST">
    <div>
      <label for="">Title</label>
      <input type="text" name="title" value="<%= task.title %>" required>
    </div>
    <div>
      <label for="">Due Date</label>
      <input type="date" name="duedate" id="" value="<%= task.dueDate %>" required>
      
    </div>
    <button type="submit">Update</button>
    <a href="/">Cancel</a>
   </form>
</body>
</html>