<!DOCTYPE html>
<html>
<head>
  <title>Edit Book</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>✏️ Edit Book</h1>
  <form action="/edit/<%= book._id %>" method="POST">
    <input type="text" name="title" value="<%= book.title %>" required>
    <input type="text" name="author" value="<%= book.author %>" required>
    <input type="text" name="publisher" value="<%= book.publisher %>">
    <input type="text" name="genre" value="<%= book.genre %>">
    <input type="number" name="price" value="<%= book.price %>">

    <label>Issue Date:</label>
    <input type="date" name="issueDate" value="<%= book.issueDate ? book.issueDate.toISOString().split('T')[0] : '' %>">
    <label>Return Date:</label>
    <input type="date" name="returnDate" value="<%= book.returnDate ? book.returnDate.toISOString().split('T')[0] : '' %>">

    <input type="text" name="studentName" value="<%= book.studentName %>">
    <input type="text" name="studentId" value="<%= book.studentId %>">

    <button type="submit" class="btn">Update</button>
  </form>
  <a href="/" class="btn">⬅️ Back</a>
</body>
</html>
